@use '../../common/link.scss' as link;

.wp-block-post-template {

	padding: 0!important;

	.wp-block-post {

		position: relative;

		.wp-block-post-featured-image > img { transition: transform .2s linear }

		&:hover {

			cursor: pointer;
			background-color: var(--wp--preset--color--neutral-700);

			.wp-block-column.df-aside-column,
			.wp-block-column.df-content-column {
				transition: background-color .2s linear;
				background-color: var(--wp--preset--color--neutral-700);
			}

			.wp-block-post-featured-image > img { transform: scale(1.1) }
			.wp-block-group {
				.df-see-more { opacity: 1 }
			}

		}

		.wp-block-group {

			position: static;

			.df-see-more {
				opacity: 0;
				transition: opacity .2s;
				border: 1px solid var(--wp--preset--color--neutral-500);
				padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--300);
				display: inline-block;
			}

			.wp-block-post-title > a::before {
				@include link.click-parent;
			}
		}

	}

}