.wp-block-df-menu-fetcher {

	& > ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&.is-horizontal > ul {

		display: flex;
		flex-direction: row;

		@media (max-width: 48.875rem) {
			flex-direction: column;
		}

	}

}