.wp-block-df-lang-switch {

	font-size: var(--wp--preset--font-size--sm);
	font-weight: 300;
	background-color: var(--wp--preset--color--neutral-700);
	padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--200);
	gap: var(--wp--preset--spacing--100);

	.wp-block-df-lang-switch__item { color: var(--wp--preset--color--neutral-000) }

	.wp-block-df-lang-switch__item + .wp-block-df-lang-switch__item::before { margin-right: var(--wp--preset--spacing--100) }

}