@mixin click-parent {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@mixin hover {
	background-color: var(--wp--preset--color--neutral-900);
	border-radius: .25rem;
}

@mixin button {
    border: 1px solid var(--wp--preset--color--neutral-500);
	padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--300);
}