.wp-block-df-lang-switch {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: flex;
	flex-direction: row;

	.wp-block-df-lang-switch__item + .wp-block-df-lang-switch__item::before {
		content: '|';
		display: inline-block;
	}

}

.wp-block-df-lang-switch + * {
	margin-block-start: 0;
}