<!-- wp:df/lang-switch /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|000","left":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-columns" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

	<!-- wp:column {"verticalAlignment":"stretch","width":"20rem","style":{"spacing":{"padding":{"top":"var:preset|spacing|500","bottom":"var:preset|spacing|500","left":"var:preset|spacing|600","right":"var:preset|spacing|600"}}},"backgroundColor":"neutral-800"} -->
	<div class="wp-block-column is-vertically-aligned-stretch has-neutral-800-background-color has-background" style="padding-top:var(--wp--preset--spacing--500);padding-right:var(--wp--preset--spacing--600);padding-bottom:var(--wp--preset--spacing--500);padding-left:var(--wp--preset--spacing--600);flex-basis:20rem">
		<!-- wp:template-part {"slug":"header-single","theme":"dafox","area":"header"} /-->
	</div>
	<!-- /wp:column -->

	<!-- wp:column {"verticalAlignment":"stretch","width":"","style":{"spacing":{"blockGap":"var:preset|spacing|000","padding":{"top":"0","bottom":"0","left":"var:preset|spacing|000","right":"var:preset|spacing|000"}}},"backgroundColor":"neutral-800"} -->
	<div class="wp-block-column is-vertically-aligned-stretch has-neutral-800-background-color has-background" style="padding-top:0;padding-right:var(--wp--preset--spacing--000);padding-bottom:0;padding-left:var(--wp--preset--spacing--000)">

		<!-- wp:pattern {"slug":"df/content-404"} /-->

		<!-- wp:template-part {"slug":"footer","theme":"dafox"} /-->

	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->